

<style type="text/css">
.ntdata .td { text-align: center;}
</style>


<table border=1 cellpadding=5> 
<tbody>
<tr align="center">
<td align="center">First&nbsp;complex<br>critical&nbsp;zero</td>
<td align="center">Underlying<br>object</td>
<td align="center">$N$</td>
<td align="center">$\chi$</td>
<td align="center">arithmetic</td>
<td align="center">self-dual</td>
<!--
<td align="center">$\delta,\nu$</td>
-->
<td align="center">$(\nu_1,\nu_2), \mu $</td>
<td align="center">$(\delta_1,\delta_2), (\mu_1,\mu_2)$</td>
<td align="center">$\delta_1,\delta_2,\delta_3,\delta_4$</td>
<td align="center">$\mu_1,\mu_2,\mu_3$</td>
<td align="center">$\varepsilon$</td>
</tr>
<tr align="center"><td><a href="/L/SymmetricPower/3/EllipticCurve/Q/11.a/">1.1</a></td><td>SymmetricPower</td><td>1331</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>[1.5,0.5],[0,0]</td><td>, </td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/Genus2Curve/Q/169/a/">5.06823</a></td><td><a href="/Genus2Curve/Q/169/a/">genus 2 curve</a></td><td>169</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>[0.5,0.5],[0,0]</td><td>, </td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL4/Q/Maass/GL4Maass_1_16.8997_2.27258_-6.0358/">16.18901</a></td><td><a href="/ModularForm/GL4/Q/Maass/GL4Maass_1_16.8997_2.27258_-6.0358/">Maass for GL(4)</a></td><td>1</td><td>-</td><td>&#x25CB;</td><td>&#x25CB;</td><td>,</td><td>, </td><td>0,0,0,0</td><td>[16.89, 2.272, -6.035]</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GL2/TotallyReal/2.2.5.1/holomorphic/2.2.5.1-31.1-a/0/0/">3.67899</a></td><td><a href="/ModularForm/GL2/TotallyReal/2.2.5.1/holomorphic/2.2.5.1-31.1-a/0/0/">Hilbert modular form over $\mathbb Q(\sqrt{5})$</a></td><td>775</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>[.5,.5],[0,0]</td><td>, </td><td></td><td></td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GSp4/Q/Maass/GSp4Maass_1_12.4687_4.72095/">14.49606</a></td><td><a href="/ModularForm/GSp4/Q/Maass/GSp4Maass_1_12.4687_4.72095/">Maass</a></td><td>1</td><td>-</td><td>&#x25CB;</td><td>&#x25CF;</td><td>,</td><td>, </td><td>0,0,0,0</td><td>[$\pm 4.720$,  $\pm 12.46$ ]</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ArtinRepresentation/4/1609/1/">3.50464</a></td><td><a href="/ArtinRepresentation/4/1609/1/">Artin</a></td><td>1609</td><td>-</td><td>&#x25CF;</td><td>&#x25CF;</td><td>,</td><td>, </td><td>0,0,1,1</td><td>[0, 0, 0, 0]</td><td>1</td><tr>
<tr align="center"><td><a href="/L/ModularForm/GSp4/Q/Maass/GSp4Maass_1_19.8193_8.53107/">2.48044</a></td><td><a href="/ModularForm/GSp4/Q/Maass/GSp4Maass_1_19.8193_8.53107/">Sp(4,$\mathbb Z$) Maass</a></td><td>1</td><td>-</td><td>&#x25CB;</td><td>&#x25CF;</td><td>,</td><td>, </td><td>0,0,0,0</td><td>[19.81,  -19.81,  8.531]</td><td>1</td><tr>
</tbody></table>
